:root{
    /* Variables */
    --bg-main: #fff;
    --bg-footer: #f7f7f7;

    --txt-main: #000;
    --txt-second: #6a6a6a;

    --lineBrk: #ddd;

    --bordRad-XS: 4px;
    --bordRad-S: 8px;
    --bordRad-M: 12px;
    --bordRad-L: 16px;
    --bordRad-L: 20px;

    /* Font Variables */
    --fontSize-XS: 0.625rem;
    --fontSize-S: 0.75rem;
    --fontSize-M: 0.875rem;
    --fontSize-L: 1rem;
    --fontSize-XL: 1.25rem;

    --fontLine-XS: 0.75rem;
    --fontLine-S: 1rem;
    --fontLine-M: 1.25rem;
    --fontLine-L: 1.5rem;
    --fontLine-XL: 1.5rem;

    --fontWeight-XS: 200;
    --fontWeight-S: 400;
    --fontWeight-M: 600;
    --fontWeight-L: 800;
    --fontWeight-XL: 1000;
    
    --search-bar-prefix_width: 42px
}

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-ms-flex: 0 1 auto;
flex: 0 1 auto;
}

body {
    position: relative;
    margin-left: auto; 
    margin-right: auto;
    max-width: 455px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: .875rem;
    line-height: 1.43;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

div {
    display: block;
}

.nav {
    padding-top: 14px;
    box-shadow: rgb(0 0 0/16%) 0 0 6px;
}

.nav_search_body{
    margin-inline-end: 16px;
    margin-inline-start: 16px;
}

.nav_search{
    border-radius: 1000px;
    box-shadow: 0 3px 10px rgba(0 0 0 / 0.1);
    cursor: pointer;
    align-items: center;
    border: 0.5px solid rgba(0 0 0 / 0.08);
    background-color: transparent;
    font-weight: inherit;
    font-size: inherit;
    text-align: inherit;
    display: inline-grid;
    width: 100%;
    max-width: 100%;
    height: 100%;
    grid-template-columns: var(--search-bar-prefix_width, 52px) minmax(0, 1fr);
    min-height: 56px;
    margin: 0;
}

.nav_search_textmain{
    color: var(--txt-main);
    font-size: var(--fontSize-M);
    font-weight: var(--fontWeight-M);
    line-height: var(--fontLine-M);
    display: block;
}

.nav_search_textsecond{
    color: var(--txt-second);
    font-size: var(--fontSize-S);
    font-weight: var(--fontWeight-S);
    line-height: var(--fontLine-S);
    text-overflow: ellipsis;
    display: flex;
    gap: 5px;
}

.nav_search_textbox {
    display: inline-block;
    padding-left: 2px;
}

.nav_search_icon{
    display: block;
    height: 20px;
    width: 20px;
}

.nav_search_iconbox {
    align-items: center;
    justify-items: center;
    place-items: center;
    display: grid;
}

/* Navigation Category Bar*/

/* nav_category_bar variables */
.nav_category_bar {
    --chipsbar_box-shadow: rgb(0 0 0/16%) 0 0 6px;
    --chipsbar_height: 74px;
    --chipsbar_chip-width: 64px;
    --chipsbar_chip-spacing: 16px;
    --contentscroller_scrollsnaptype: none;
    --contentscroller_auto-columns: max-content;
    --contentscroller_peek: 24px;
    --contentscroller_scroller_margin-inline-end: 0;
    --contentscroller_scroller_margin-inline-start: 0;
    --contentscroller_gap: var(--chipsbar_chip-spacing);
    --chipsbar_underline-margin: 12px;
}

.center {
    justify-self: center;
    text-align: center;
}

.nav_category_bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100%;
    height: var(--chipsbar_height);
    width: 100%;
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding-inline-end: var(--contentscroller_padding-inline-end, var(--contentscroller_peek, 32px));
    padding-inline-start: var(--contentscroller_padding-inline-start, var(--contentscroller_peek, 32px));
    align-content: center;
    overflow-x: auto;
    overflow-y: clip;
}


.nav_category_bar::-webkit-scrollbar { 
    display: none; 
}
.nav_category_label {
    background-color: transparent;
    height: 74px;
    align-content: center;
    opacity: 0.6742081447963801;
    color: var(--txt-second);
    margin: 12px 0 10px;
    padding: 4px 0;
    min-width: var(--chipsbar_chip-width);
}

.nav_category_label.active {
    min-width: min(calc(var(--chipsbar_chip-width) / 2 + 12px),40px);
}

.nav_category_labels {
    display: flex;
    flex-direction: row;
    gap: var(--chipsbar_chip-spacing);
    width: max-content;
}

.text {
    white-space: nowrap;
}

.nav_category_icon {
    width: 24px;
    height: 24px;
    grid-area: icon;
}

img {
    display: inline-block;
    vertical-align: middle;
}

.nav_category_item {
    display: flex;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    gap: 4px;
    grid-template-areas:
    'icon'
    'title';
    flex-direction: column;
    align-items: center;
}

.nav_category_text {
    position: relative;
    grid-area: text;
    font-size: var(--fontSize-S);
    line-height: var(--fontLine-S);
    font-weight: var(--fontWeight-M);
}

.nav_category_text_span {
    display: inline-block;
}

.active {
    opacity: 1;
    color: var(--txt-main);
}

.active:after {
    position: absolute;
    inset-inline: 0;
    background-color: var(--txt-main);
    height: 2px;
    top: calc(100% + 12px);
    content: '';
}


.footer {background-color: var(--bg-footer);}