@font-face {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

/* Variables */
:root{
/* Colour Variables */
    --bg-main: #fff;
    --bg-footer: #f7f7f7;

    --txt-main: #000;
    --txt-second: #222;
    --txt-third: #6a6a6a;

    --lineBrk: #ddd;

/* Size Variables */
    --bordRad-XS: 4px;
    --bordRad-S: 8px;
    --bordRad-M: 12px;
    --bordRad-L: 16px;
    --bordRad-L: 20px;
    
    --search-bar-prefix_width: 42px;
    --aspect-ratio-wrapper-ratio: 20/19;
    --content_box_size_width: 100%;
    --content_box_size_height: 100%;

/* Font Variables */
    --fontSize-XS: 0.625rem;
    --fontSize-S: 0.75rem;
    --fontSize-M: 0.875rem;
    --fontSize-L: 1rem;
    --fontSize-XL: 1.25rem;

    --fontLine-XS: 0.75rem;
    --fontLine-S: 1rem;
    --fontLine-M: 1.25rem;
    --fontLine-L: 1.5rem;
    --fontLine-XL: 1.5rem;

    --fontWeight-XS: 200;
    --fontWeight-S: 400;
    --fontWeight-M: 600;
    --fontWeight-L: 800;
    --fontWeight-XL: 1000;
}
.fontWeight400 {
    font-weight: var(--fontWeight-S);
}

.fontWeight600 {
    font-weight: var(--fontWeight-M);
    color: #222;
}

.fontWeight800 {
    font-weight: var(--fontWeight-L);
}
/* End of Variables <<

////////////////////////////////////////// 

>> Start of General Site Settings */
*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-ms-flex: 0 1 auto;
flex: 0 1 auto;
}

body {
    position: relative;
    margin-left: auto; 
    margin-right: auto;
    font-family: Montserrat, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: .875rem;
    line-height: 1.43;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    max-width: 600px;
}

div {
    display: block;
}

button {
    position: relative;
    background: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

.center {
    justify-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.active {
    opacity: 1;
    color: var(--txt-main);
}

.hidden {
    display: none;
}

.text {
    white-space: nowrap;
}

.subtitle {
    color: var(--txt-third);
}

/* Images */
img {
    display: inline-block;
    vertical-align: middle;
    width: var(--content_box_size_width);
    height: var(--content_box_size_height);
    overflow: clip;
    object-fit: cover;
    overflow-clip-margin: content-box;
    background-size: cover;
}

.line_break {
    background-color: var(--lineBrk);
    height: 1px;
}

/* Headers */
h2 {
    font-weight: var(--fontWeight-M);
    font-size: 32px;
    line-height: 32px;
    margin-bottom: -12px;
    color: var(--txt-second);
}

/* End of General Site Settings <<

////////////////////////////////////////// 

>> Start of Navigation Bar */
.nav {
    padding-top: 14px;
    box-shadow: 0 6px 6px -6px rgb(0 0 0 / 16%);
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
}

/* Navigation Search Box*/
.nav_search_body{
    margin-inline-end: 16px;
    margin-inline-start: 16px;
}

.nav_search{
    border-radius: 1000px;
    box-shadow: 0 3px 10px rgba(0 0 0 / 0.1);
    cursor: pointer;
    align-items: center;
    border: 0.5px solid rgba(0 0 0 / 0.08);
    background-color: transparent;
    font-weight: inherit;
    font-size: inherit;
    text-align: inherit;
    display: inline-grid;
    width: 100%;
    max-width: 100%;
    height: 100%;
    grid-template-columns: var(--search-bar-prefix_width, 52px) minmax(0, 1fr);
    min-height: 56px;
    margin: 0;
}

/* Navigation Search Box Text */
.nav_search_textmain{
    color: var(--txt-second);
    font-size: var(--fontSize-M);
    font-weight: var(--fontWeight-M);
    line-height: var(--fontLine-M);
    display: block;
}

.nav_search_textsecond{
    color: var(--txt-third);
    font-size: var(--fontSize-S);
    font-weight: var(--fontWeight-S);
    line-height: var(--fontLine-S);
    text-overflow: ellipsis;
    gap: 5px;
}

.nav_search_textbox {
    display: inline-block;
    padding-left: 2px;
}

/* Navigation Search Box Icon */
.nav_search_icon{
    display: block;
    height: 20px;
    width: 20px;
    color: var(--txt-second);
}

.nav_search_iconbox {
    align-items: center;
    justify-items: center;
    place-items: center;
    display: grid;
}
/* End of Navigation Search Box <<

////////////////////////////////////////// 

>> Start of Navigation Category Bar*/

/* nav_category_bar variables */
.nav_category_bar {
    --chipsbar_box-shadow: rgb(0 0 0/16%) 0 0 6px;
    --chipsbar_height: 74px;
    --chipsbar_chip-width: 64px;
    --chipsbar_chip-spacing: 16px;
    --contentscroller_scrollsnaptype: none;
    --contentscroller_auto-columns: max-content;
    --contentscroller_peek: 24px;
    --contentscroller_scroller_margin-inline-end: 0;
    --contentscroller_scroller_margin-inline-start: 0;
    --contentscroller_gap: var(--chipsbar_chip-spacing);
    --chipsbar_underline-margin: 12px;
}

.nav_category_bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100%;
    height: var(--chipsbar_height);
    width: 100%;
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding-inline-end: var(--contentscroller_padding-inline-end, var(--contentscroller_peek, 32px));
    padding-inline-start: var(--contentscroller_padding-inline-start, var(--contentscroller_peek, 32px));
    align-content: center;
    overflow-x: auto;
    overflow-y: clip;
}


.nav_category_bar::-webkit-scrollbar, .footer_header_category::-webkit-scrollbar { 
    display: none; 
}

/* Navigation Category Bar Labels */
.nav_category_label {
    background-color: transparent;
    height: 74px;
    align-content: center;
    opacity: 0.6742081447963801;
    color: var(--txt-third);
    margin: 12px 0 10px;
    padding: 4px 0;
    min-width: var(--chipsbar_chip-width);
}

.nav_category_label.active {
    min-width: min(calc(var(--chipsbar_chip-width) / 2 + 12px),40px);
}

.nav_category_labels {
    gap: var(--chipsbar_chip-spacing);
    width: max-content;
}

/* Navigation Category Bar Text */
.text.active {
    color: var(--txt-second);
}

.nav_category_text {
    position: relative;
    grid-area: text;
    font-size: var(--fontSize-S);
    line-height: var(--fontLine-S);
    font-weight: var(--fontWeight-M);
}

.nav_category_text_span {
    display: inline-block;
}

/* Navigation Category Bar Icon + Layout */
.nav_category_icon {
    width: 24px;
    height: 24px;
    grid-area: icon;
}

.nav_category_item {
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    gap: 4px;
    grid-template-areas:
    'icon'
    'title';
    align-items: center;
}

/* Navigation Site Bar (Bottom) */
nav {
    position: fixed;
    bottom: -60px;
    padding-bottom: 60px;
    height: 125px;
    background-color: white;
    color: var(--txt-third);
    width: 100%;
    border-top: 1px solid var(--lineBrk);
}

nav .active {
    color: #E81948;
}

nav div {
    margin: 0 auto;
    max-width: 560px;
}

nav a {
    width: 20%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav_site_icon {
    width: 30px;
    height: 30px;
}

.nav_site_text {
    font-size: var(--fontSize-XS);
    font-weight: var(--fontWeight-M);
}
/* End of Navigation Bar Settings <<

////////////////////////////////////////// 

>> Start of Site Content */
.content {
    padding-bottom: 8px;
}

/* Content Box */
.content_section {
    margin-top: 24px;
    margin-bottom: 32px;
    padding: 0 24px;
    border-radius: var(--bordRad-M);
    display: grid;
    gap: 40px;
}

.content_box {
    padding: 0;
    border-radius: var(--bordRad-M);
}

.content_box_slide {
    display: grid;
    aspect-ratio: var(--aspect-ratio-wrapper-ratio, unset);
    border-radius: var(--bordRad-M);
    grid-auto-columns: 100%;
    scroll-snap-type: inline mandatory;
    justify-content: flex-start;
    grid-auto-flow: column;
    margin: 0;
    scrollbar-width: none;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    scroll-snap-align: none;
    scroll-snap-stop: always;
    gap: 0;
    margin-bottom: 12px;
    background-color: var(--bg-footer);
}

a {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

/* Content Box Image/Slideshow */
.content_box_slide_image {
    width: var(--content_box_size_width);
    height: var(--content_box_size_height);
    background-position: 50% 50%;
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    vertical-align: bottom;
}

/* Content Box Text */
.content_box_text {
    line-height: 19px;
    line-height: 1.1875rem;
    font-size: 15px;
    font-size: 0.9375rem;
    display: grid;
    gap: 4px
}
/* End of Site Content <<

//////////////////////////////////////////

>> Start of Footer */
.footer {
    background-color: var(--bg-footer);
    margin-inline: auto;
    padding-inline: 24px;
    padding-block: 48px
}

/* Footer Header */
.footer_header_title {
    font-size: 22px;
    line-height: 22px;
    font-weight: var(--fontWeight-M);
    margin-bottom: 8px;
    margin-top: 0;
}

.footer_header_category {
    overflow-x: auto;
}

/* Footer Header Buttons */
.footer_header_category_buttons {
    display: flex;
}

.footer_header_category_button.text:first-child {
    margin-left: -10px;
}

.footer_header_category_button {
    margin: 6px 6px 6px 0;
    line-height: 14px;
    font-size: 14px;
    font-weight: var(--fontWeight-M);
    border-radius: 8px;
    padding: 10px;
    align-content: center;
    color: var(--txt-third);
}

/* Footer Locations Section */
::marker {
    content: '';
}

.footer_locations>ul.grid {
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 8px;
    row-gap: 24px;
    gap: 24px 8px;
}

.footer_locations button {
    gap: 4px;
}

.footer_sections {
    padding-top: 32px;
}

.arrow_end {
    background: transparent;
    align-items: center;
    padding: 0;
    justify-content: flex-end;
    right: 12px;
    display: flex;
    position: absolute;
    width: 36px;
    margin-top: -50px;
    height: 50px;
    background-image: linear-gradient(to right, transparent, #f7f7f7, #f7f7f7, #f7f7f7);
}

.footer_header_category_button.active:after {
    height: 2px;
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    margin-bottom: -6px;
    left: 11px;
    background-color: var(--txt-second);
    margin-top: 28px;
}

footer.footer_linebreak {
    width: 100%;
}

.footer_linebreak {
    border-top: 1px solid var(--lineBrk);
}

footer {
    background-color: var(--bg-footer);
}

footer section {
    padding-inline: 24px;
}

ul, ol {
    padding-inline: unset;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 12px;
}

footer h3 {
    font-size: var(--fontSize-M);
    font-weight: var(--fontWeight-M);
    margin-top: 0;
    color: var(--txt-second);
}

.footer_support {
    padding-block: 24px;
}
footer section div {
    padding-block: 24px;
}

/* Footer Notice Section*/
.footer_notice {
    padding-bottom: 64px;
}
.footer_notice button {
    font-size: var(--fontSize-M);
    color: var(--txt-main);
}

.footer_notice button:first-child {
    margin-right: 24px;
}

.footer_notice span:first-child {
    margin-right: var(--footer-icon-spacing, 8px);
    font-size: var(--fontSize-L);
}

.footer_notice div:first-child {
    margin-bottom: 22px;
    padding-top: 12px;
}

.footer_notice div {
    padding: 0;
}

ol {
    display: inline;
}

ol li {
    display: inline-block;
    line-height: 26px;
}

.dot {
    display: inline-block;
    text-align: center;
    white-space: pre-wrap;
    width: 19px;
}

ol li a {
    line-height: 1.125rem;
    position: relative;
}
/* End of Footer */